<nav class="flex justify-between shadow-md z-50">
  <a routerLink="" class="px-5 py-1 flex items-center">
    <h1 class="flex items-center gap-1 font-extrabold text-xl">
      <p class="font-black text-3xl">!</p>
      Resto app
    </h1>
  </a>

  <div class="flex">
    <ul class="navbar-links flex items-center">
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a routerLink="add">Add</a>
      </li>
      <li>
        <a routerLink="update">Update</a>
      </li>
      <li>
        <a routerLink="list">List</a>
      </li>
    </ul>
  </div>

  <div class="profile-info flex gap-3 p-4">
    <span
      class="rounded-full bg-slate-200 h-10 w-10 flex justify-center items-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#666666"
      >
        <path
          d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
        />
      </svg>
    </span>
    <span class="flex flex-col">
      <p class="font-bold">Olive Mengolo</p>
      <p class="text-2">{{ "olive.mengolo@gmail.com" }}</p>
    </span>
    <button
      class="rounded-full p-[0.25rem] transition ease-in-out duration-300 hover:bg-slate-100"
      (click)="toggleProfile()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#666666"
      >
        <path d="M480-360 280-560h400L480-360Z" />
      </svg>
    </button>
    <div
      class="fixed top-[4.7rem] -right-[12rem] flex flex-col bg-white border border-slate-200 w-[12rem] shadow-md transition-all ease-out duration-300"
      [ngClass]="{ active: isOpen }"
    >
      <ul class="profile-menu-links">
        <li>
          <a routerLink="">Profile</a>
        </li>
        <li>
          <a routerLink="login">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
