.login-left-pane {
  background-image: url(https://img.freepik.com/free-photo/top-view-meals-tasty-yummy-different-pastries-dishes-brown-surface_140725-14554.jpg?t=st=1733141391~exp=1733144991~hmac=cda4b085995fbdc95a875ef19ba8160f6de5964c8aa4380081579590999c03ca&w=740);
  background-repeat: no-repeat;
  object-fit: cover;
}
