<div class="main-content flex flex-row">
  <div class="w-72 shadow-lg"></div>
  <div class="w-full p-5 bg-stone-50">
    <div class="card w-72 h-96 rounded-lg shadow-lg flex flex-col">
      <div
        class="card-img h-64 w-full bg-purple-200 rounded-t-lg object-cover"
        style="
          background-image: url(https://img.freepik.com/free-photo/fresh-gourmet-meal-grilled-beef-salad-generated-by-ai_188544-10126.jpg?semt=ais_hybrid);
        "
      ></div>
      <div class="card-body flex flex-col p-2 h-32">
        <h1 class="text-xl font-extrabold">Resto A</h1>
        <p>Resto description</p>
        <a routerLink="" class="hover:underline">Voir plus</a>
      </div>
    </div>
  </div>
</div>
